.dealership-main-div{
    background-color: white;
    margin: 0%;
    padding: 0%;
}
.dealership-main-top-div{
    padding-top: 108px;
    padding-bottom: 10px;
}
.dealership-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #000000;

}
.dealership-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}
/* 2nd portion */
.dealership-center-main{
    padding: 3rem 4rem 0 2rem;
}
.dealership-center-col{
    padding: 2rem 6% 0;
}
.dealership-image-text-main{
    margin: 2rem 0rem;
}
.dealership-image-text{
    display: flex;
}
.contract-img{
    width: 20px;
    height: 20px;
}
.inner-dealership-head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.85);
    margin-left: 10px;
}
.inner-dealership-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
}

/* image section */
.dealership-images-div{
    position: relative;
    height: 645px;
    margin-left: -2rem;
    padding-top: 5%;
    margin-bottom: 10rem;
}
.light-blue-dealership{
    position: absolute;
    width: 100%;
}
.dark-blue-dealership{
    position: absolute;
    /* margin: 5rem; */
    margin: 12%;
    width: 75%;
}
.mob-img-dealership{
    width: 84%;
    position: absolute;
    margin: -12% 12% 0;
    margin-bottom: 50rem !important;
    
}

/* third section */
.dealership-center-col-third{
    padding-left: 11%;
    padding-top: 2rem;
    
}

@media screen and (max-width:425px){
    .dealership-images-div{
        margin-left: 0;
        height: 445px;
    }
}
@media screen and (max-width:1024px){
    .dealership-images-div{
        margin-left: 0;
        height: 645px;
    }
}
