.fullview-header-bttn-div{
    margin-top:1rem
}
.fullview-header{
    margin-top: 4.5rem;
    background-color: #1C67CE;
}
.fullview-header-left{
    padding-top: 17%;
    padding-left: 10%;
    /* padding-bottom: 10%; */
}
.fullview-header-right{
    padding-top: 9%;
}
.fullview-header-right-img{
    transition: transform 500ms !important;
}
.fullview-header-right-img:hover{
    transform: scale(1.01);
}
.fullview-header-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}
.fullview-header-googleplay{
    cursor: pointer;
    margin-right: 16px;
}
.ios-coming-soon-btn{
    width: 150px;
    height: 48px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    background-color:  #1C67CE;
}
.ios-coming-soon-btn:hover{
    background-color:  #1C67CE !important;
}
.ios-coming-soon-text{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
}