.lower-sec-dealership{
    background-color: #F9FBFD;
}
.analysis-chart-head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.85);
}
.analysis-chart-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.45);
}
.chart-design-div{
   margin: 8rem;
}
.chart-design-img-div{
    margin: 1rem;
    transition: transform 500ms !important;
 }
 .chart-design-img-div:hover{
    transform: scale(1.01);
 }
 .dealership-lower-img1{
    position: relative;
    top: 0;
    left: 0;
    transition: transform 500ms !important;
 }
 .dealership-lower-img1:hover{
     transform: scale(1.01);
 }
.dealership-lower-img2{
    position: absolute;
    left: 1rem;
    top: 10rem
}
.productCard-img-div{
    text-align: center;
    padding: 3rem 3rem 5rem;
}