.blogs-body {
    background-color: white !important;
}

/* Blogs css starts here.  */
.blogs-column {
    margin-top: 7%;
}

.blog-read-label {
    color: rgba(0, 0, 0, 0.45);
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
}

.blogs-heading {
    font-size: 40px;
line-height: 140%;
color: rgba(0, 0, 0, 0.85);
}

.blog-content {
    font-weight: 300;
font-size: 16px;
line-height: 160%;
color: rgba(0, 0, 0, 0.84);
}

.blog-sub-heading {
    font-weight: 500;
font-size: 24px;
line-height: 38px;
color: rgba(0, 0, 0, 0.84);
}

.cell-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 10%;
    margin-bottom: 5%;
}

/* Related Stories Cell css starts here */

.related-car-card {
    border: transparent !important;
}
.cell-card-image{
    object-fit: cover;
    width: 90px;
    height: 66px;
    border-radius: 4px;
}

.related-card-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.85);
}

/* End */

/* Similar car cell css starts here */
.similar-car-title {
    font-size: 15px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.85);
}

.similar-card-price {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}

/* End */

