.top-news-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 1rem;
}

.top-news-date-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 0.5rem;
    margin-bottom:0.9rem; 
}

.top-news-content {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;  
    color: rgba(0, 0, 0, 0.85);
    width: 100%;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.top-news-card:hover,.top-news-first-column:hover {
    cursor: pointer;
}