.popular-makes-logos .card {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.popular-makes-logos .card .card-footer {
    background-color: white;
    border: none;
    text-align: center;
    padding-top: 0;
}


.popular-makes-logos .card .card-footer a {
    font-weight: 500;
    color: #1C67CE !important;
    font-size: 14px;
}


.card-main-head{
        /* padding-bottom: 4%; */
        padding-right: 0;
}
.giving-padding{
    padding: 25px 0px;
}
/* THIS CLASS HAS SOOOOOOOO MUCH EXTRA CSS, KUCH BHI CHERNE SE PEHLE AB KO RABTA KIJYE SHUKRIYA!  */
.carslogo-head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #080B30;
}
.giving-margin{
    padding: 0;
    margin: 0;
}
.popular-make{
    margin: 0 !important;
}




.carslogo-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: rgba(8, 11, 48, 0.65);
}
.cardslogo-main{
    
    width: 85%;
    height: 98%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 6px;
    margin: auto;
    transition: transform 500ms !important;
}
.cardslogo-main3{
    
    width: 85%;
    height: 92%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 6px;
    margin: auto;
    transition: transform 500ms !important;
}
.cardslogo-main:hover , .cardslogo-main3:hover{
    transform: scale(1.02);
}



.image-hover:hover {
    background-image: url("../../../assets/BMW.png"); 
}

/*  */

    @media screen and (max-width: 420px) {
        .giving-margin{
            margin-left: 15%;
            }
        .cardslogo-main , .cardslogo-main3{
            margin: 0% 5%;
        }
      }


/* correct Css by AB */
.logo-card {
    height: 182px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.logo-div {
    max-height: 138px;
    overflow: hidden;
    justify-content: center !important;
    text-align: center !important;
    margin-top: 1.4rem;
}

.car-logo-homepage {
  object-fit: contain;
  height: 120px;
}

.logos-row {
    margin-bottom: 2rem;
}

.logo-listings {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #1C67CE;
}

.logo-card a{
    text-decoration: none;
    color: #1C67CE;
}
    /*  Ends here */