.home-container {
  
  background-color: white;
}

.search-text-field {
    border-color: transparent !important;
}

.input :focus {
    outline-offset: 0px !important;
}
.feature-heading{
  font-weight: 600;
}

.download-app-label{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
}
.features-row{
  margin-top:3% !important;
}
.recomended-coloumn{
  margin-top: 3% !important;
}
.trending-coloumn{
  margin-top: 3% !important;
}
.top-stories-main{
  padding: 4% 0%;
}
.new-used-class{
  display: flex;
  float: right;
  margin-left: 190px;
}
@media screen and (max-width: 420px) {
  .recommended-cars-head , .trending-cars-head{
    margin-top: 13px !important;
    margin-bottom: 0% !important;
  }
 
}