.searchbox {
     background: #ffffff;
  width: 100%;
  
  box-shadow: 0px 0px 40px rgba(44, 44, 44, 0.08);
    border-radius: 8px;
  padding: 50px;
  margin: 20px;
}

.search-text-field {
    border-color: transparent !important;
}

.input :focus {
    outline-offset: 0px !important;
}

.left-cover-section {
  background-image: url("../../../assets/BlueCover.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-left-heading {
color: #ffffff;
font-size: 62px;
font-weight: bold;
}

.download-button-cover {
  background-color: #ffffff !important;
    border-radius: 0.4rem !important;
    width: 168px !important;
    height: 56px;
    color: #1C67CE !important;
    cursor: pointer;
    padding: 14px 28px !important;
    font-size: 16px !important;
}