.home-container {
  
  background-color: white;
}

.search-text-field {
    border-color: transparent !important;
}

.input :focus {
    outline-offset: 0px !important;
}

.download-app-label{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
}
.features-row{
  margin-top:3% !important;
}
.recomended-coloumn{
  margin-top: 3% !important;
}
.trending-coloumn{
  margin-top: 3% !important;
}
.top-stories-main{
  padding: 4% 0%;
}