.main-card{
    margin: 30px 0px;
}
.rwt__tabs{
    width: 100% !important;
}

.rwt__tab {
    padding: 1rem 1rem;
}


.rwt__tablist{
    border-right: none !important;
}
.PriceRange{
    height:40vh;
}
.MuiGrid-root{
    background-color: #FAFAFA !important;
}
.MuiGrid-item{
    padding:0px 12px 0px 0px !important
}
/* .vertical-tabs , .main-class{
    display: flex;
} */

.price-head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.85);
    width: 100%;
    background-color: white;
    height: 68px;
    padding: 9% 8%;
    border-bottom: 1px solid #F3F3F3;
}
.Items{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #080B30;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #F3F3F3 !important;
    background-color: white;
    border-left: 0px !important;
    text-align: justify;
}
.rwt__tab[aria-selected="true"]:after{
    border-right: 3px solid #1C67CE !important;
}

.Items:focus{
    color: #1C67CE;
    background-color: #FAFAFA;
    border-right: 3px solid #1C67CE !important;
    font-weight: 700;
}
/* card */
.head{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15.426px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.85);
}
.sub-head{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5336px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
}
.price{
    font-family:Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 15.426px;
    line-height: 19px;
    color: #000000;
}
.rwt__tablist{
    margin-right:0 !important;
}
.row-class{
    margin:2% 0% 4% -1% !important;
}

@media screen and (max-width:600px){
    .Items{
        width: 530px !important;
    }
    .price-head{
        width: 530px !important;
    }
}
@media screen and (max-width:500px){
    .Items{
        width: 355px !important;
    }
    .price-head{
        width: 355px !important;
    }
}
@media screen and (max-width:900px){
    .price-head{
        padding:6% 14% 7%;
    }
}
/* 
@media screen and (max-width:600px){
    .Items{
        width: 530px !important;
    }
    .price-head{
        width: 530px !important;
    }
}
@media screen and (max-width:500px){
    .Items{
        width: 355px !important;
    }
    .price-head{
        width: 355px !important;
    }
    .price-range-grid{
        padding-right: 0 !important;
    }
} */