.trending-body-head {
    font-weight: bold;
    font-size: 28px;
    
}


.trending-body-types .nav-link{
    color: #9D9D9D;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    
}
.trending-body-types .nav-tabs .nav-link:hover{
     color: #1C67CE; 
     border-bottom-width: 2px; 
    border-bottom-color: #1C67CE; 
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.nav-tabs {
    border-bottom: 0px !important;
}

.trending-body-types .nav-tabs .nav-link.active{
    color: #1C67CE;
    border-bottom-width: 2px;
    border-bottom-color: #1C67CE;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}