.filters h6{
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.filters .WithStyles\(ForwardRef\(Slider\)\)-valueLabel-4{
    left: calc(-50% + 0px);
}

.filters input, .filters select{
    margin-top: 15px;
    margin-bottom: 15px;
}

.filters .location label{
    font-size: 14px;
    font-weight: 400;
    color: rgba(17, 0, 0, 0.65);
}