.reserved-text {
    font-size: 14px;
}


.footer-image {
    background-image: url("../../../assets/Footer-image.png"); 
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 254px;
    background-color: rgba(28,118,206,0.9); 
}

.learn-more-button-cover {
    background-color: #ffffff !important;
      border-radius: 0.4rem !important;
      width: 160px !important;
      height: 56px;
      color: #1C67CE !important;
      cursor: pointer;
      padding: 14px 28px !important;
      font-size: 16px !important;
  }

  .car-dealer-head {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
  }

  .car-dealer-head5 {
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
  }


