.dashboard-bilkul-main{
    height:100vh;
    background-color:#F5F6FA !important;
}
.MuiToolbar-root{
    background-color:#F5F6FA !important;
}
.dashboard-bilkul-main>.MuiPaper-elevation4{
    box-shadow: none !important;
}
.dashboard-toggle-icon{
    color:black !important;
    margin-top: 14px;
    
}

#fix-outline>.MuiButtonBase-root:focus{
    outline: none !important;
}
.dashboard-toggle-button:focus{
    border:1px solid transparent !important;
}
@media screen and (max-width:1000px){
    .dashboard-bilkul-main{
        height:100%;
        background-color:#F5F6FA !important;
    }
}