.rate-label{
    font-weight: 600;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    line-height: 69px;
}

.read-reviews-button {
    background-color: #ffffff !important;
    border-radius: 0.4rem !important;
    color: #1C67CE !important;
    border-color: #1C67CE !important;
    height: 40px;
    width: 190px;
    text-align: center;
    font-size: 14px;
    margin-left: 40px;
}

.reviews-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.Dealer-Profile-image{
    border-radius: 20px;
    width: 70px;
    height: 70px;
}

.about-seller-head {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
}
.contact-details {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
}

.dealer-name {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 600;
}

.seller-details-p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}
.contact-details-p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}
.vertical-line {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 200px;
    /* width: 186px; */
}


@media (max-width: 980px) {
    .vertical-line{
        display: none;
    }
  }



/* @media (max-width: 980px) {
    .read-reviews-button {
        margin-left: 80px;
    }
  }

  @media (max-width: 767px) {
    .read-reviews-button {
        margin-left: 160px;
    }
  }

  @media (max-width: 1050px) {
    .read-reviews-button {
        margin-left: 220px;
    }
  } */