.seller-card {
    background-color: #ffffff;
    margin-top: 4rem;
}

.rate-label{
    font-weight: 600;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    line-height: 69px;
}

.read-reviews-button {
    background-color: #ffffff !important;
    border-radius: 0.4rem !important;
    color: #1C67CE !important;
    border-color: #1C67CE !important;
    height: 40px;
    width: 88%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.reviews-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    margin-left: 15px;
}

.Dealer-Profile-image{
    border-radius: 20px;
    width: 70px;
    height: 70px;
}

.about-seller-head {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
}
.contact-details {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    margin-bottom: 1.3rem;
}

.dealer-name {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 600;
}

.seller-details-p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}
.contact-details-p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.65);
    overflow-wrap: break-word;
    margin-bottom: 0.6rem;
}
.vertical-line {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 0px !important;
}

.dealer-profile-coloumn{
  margin-left: -10px;
  margin-top: 6px;
}
.dealer-check{
  width: 15.88px;
  height: 15.88px;
  margin: 4px 0px 0px 8px;
}
.rating-number{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFC061;
}
#dealer-number{
  margin-bottom: 0.8rem;
}
/* 2nd condtion */
.second-condition-dealer-profile-coloumn{
  margin-left: -3.3rem;
    margin-top: 3px;
}
.private-seller{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: rgba(0, 0, 0, 0.45);
  float :left;
}
.About-selleer-main-row{
  margin-top:2rem;
}
@media (max-width: 980px) {
    .vertical-line{
        display: none;
    }

    .rate-label{
        text-align: left;
        font-size: 40px;
      }

      .reviews-label {
        text-align: left;
      }
      .read-reviews-button {
        width: 100%;
        text-align: center;
        font-size: 14px;
       
    }

  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .rate-label{
        text-align: center;
        font-size: 40px;
      }

      .reviews-label {
        text-align: left;
      }
      .read-reviews-button {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .font-rate-stars {
        text-align: left;
    }
} 




  @media (max-width: 767px) {
    .rate-label{
        text-align: center;
        font-size: 40px;
      }

      .reviews-label {
        text-align: left;
      }
      .read-reviews-button {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .font-rate-stars {
        text-align: left;
    }
  }
  
  @media (max-width: 1050px) {
    .rate-label{
        text-align: center;
        font-size: 40px;
      }

      .reviews-label {
        text-align: left;
      }
      .read-reviews-button {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .seller-card {
        margin-top: 5%;
    }

    .font-rate-stars {
        text-align: left;
    }
  }


  


