.review-label{
    font-weight: 500;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    line-height: 69px;
}

.read-reviews-button {
    background-color: #ffffff !important;
    border-radius: 0.4rem !important;
    color: #1C67CE !important;
    border-color: #1C67CE !important;
    height: 40px;
    width: 190px;
    text-align: center;
    font-size: 14px;
    margin-left: 40px;
}

/* @media (max-width: 980px) {
    .read-reviews-button {
        margin-left: 80px;
    }
  }

  @media (max-width: 767px) {
    .read-reviews-button {
        margin-left: 160px;
    }
  }

  @media (max-width: 1050px) {
    .read-reviews-button {
        margin-left: 220px;
    }
  } */