.chat-list {
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    min-height: 100%;
}

.chat-list h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.chat-list .input-group-text {
    background-color: white;
    border-right: none;
    margin-top: 15px;
}

.chat-list .input-group input {
    margin-top: 15px;
    border-left: none;
    padding: 5px;
}

.chat-list .input-group input:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.chat-list .scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 265px);
}

.chat-list .scrollable::-webkit-scrollbar {
    visibility: hidden;
}