.compose {
    padding: 10px;
    display: flex;
    align-items: center;
    background: white;
    border-top: 1px solid #eeeef1;
    position: fixed;
    width: 47%;
    bottom: 0px;
    border: 1px solid #E9E9E9;
    background-color: rgba(255, 255, 255, 0.8);
}

.compose svg {
    margin: 0rem 2rem;
}

.compose input {
    border: none;
    height: 52px;
}

.compose input:focus {
    box-shadow: none;
}
.compose input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: rgba(62, 62, 62, 0.55);
}