.message-bubble {
    border-radius: 16px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0.5rem;
    padding: 20px;
    max-width: 25rem;
}

.message-bubble label {
    margin-bottom: 0;
}

.message-bubble.sent {
    background-color: #1C67CE;
    color: #FFFFFF;
    margin-right: auto;
}

.message-bubble.received {
    background-color: #EFF1F4;
    color: rgba(0, 0, 0, 0.85);
    margin-left: auto;
}

.message-sent-date {
    background-color: rgba(231, 233, 240, 0.45);
    color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    font-size: 13px;
    padding: 8px 16px;
    border-radius: 8px;
    width: fit-content;

}