.message-bubble {
    border-radius: 16px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0.5rem;
    padding: 20px;
    max-width: 25rem;
}

.chatview-dashboard{
    height: 69vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-bubble label {
    margin-bottom: 0;
}

.message-bubble.sent, .message-bubble-img.sent {
    background-color: #EFF1F4;
    color: rgba(0, 0, 0, 0.85);
    margin-right: auto;
}

.message-bubble.received, .message-bubble-img.received {
    background-color: #1C67CE;
    color: #FFFFFF;
    margin-left: auto;
}

.message-sent-date {
    background-color: rgba(231, 233, 240, 0.45);
    color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    font-size: 13px;
    padding: 8px 16px;
    border-radius: 8px;
    width: fit-content;

}


.message-bubble-img {
    border-radius: 16px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0.5rem;
    padding: 4px;
    max-width: 25rem;
}

.message-bubble-img img {
    border-radius: 16px;
    max-width: 150px;
}

.grid-chat {
    /* border: 1px solid #E9E9E9;
    border-radius: 6px; */
    padding: 16px 10px 0px 10px;
    width: 320px;
}

.overlay-text-image {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    /* width: 100%; */
    color: white;
    padding: 46px 39px;
    text-align: center;
    opacity: 1;
}

.first-img {
    height: 100%;
    max-height: 244px;
    object-fit: cover;
}

.chat-view {
    border-radius: 0px 6px 6px 0px;
    height: 100%; 
    border: 1px solid #E9E9E9;
    ;
    /* border-right: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    border-left: 1px solid#E9E9E9; */
}

.chat-view h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
}


.chat-view .inquiring-container {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 2rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-bottom: 2rem;

}

.chat-view .inquaring-for-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    padding: 15px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 2rem;
    width: 50%;
    height: 10%;
    
}

.chat-view .inquaring-for-card .card-img {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    object-fit: fill;
    margin-right: 10px;
    height: 70%;
}



.chat-view .inquaring-for-card .card-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-view .inquaring-for-card .card-subtitle {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-view .inquaring-for-card .card-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
}



.chat-view .profile-details .card-img {
    width: 87px;
    height: 87px;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
}

.chat-view .profile-details .rating-number {
    font-weight: 500;
    font-size: 14px;
    font-family: Ubuntu;
    color: #FFC061;
}

.chat-view .profile-details p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    font-weight: normal;
}

.chat-view button {
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
    border-color: #1C67CE;
    margin-top: 40px;
}

.chat-view button:focus, .chat-view button:active {
    box-shadow: none !important;
}