.profile-view {
    border-radius: 0px 6px 6px 0px;
    height: 100%; 
    border-right: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    border-left: 1px solid#E9E9E9;
}

.profile-view h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
}

.profile-view .inquaring-for-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    padding: 15px;
    margin-right: 0;
    margin-left: 0;
}

.profile-view .inquaring-for-card .card-img {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    object-fit: fill;
    margin-right: 10px;
}



.profile-view .inquaring-for-card .card-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-view .inquaring-for-card .card-subtitle {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.55);
}

.profile-view .inquaring-for-card .card-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
}



.profile-view .profile-details .card-img {
    width: 87px;
    height: auto;
    object-fit: fill;
}

.profile-view .profile-details .rating-number {
    font-weight: 500;
    font-size: 14px;
    font-family: Ubuntu;
    color: #FFC061;
}

.profile-view .profile-details p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    font-weight: normal;
}

.profile-view button {
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
    border-color: #1C67CE;
    margin-top: 40px;
}

.profile-view button:focus, .profile-view button:active {
    box-shadow: none !important;
}