/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu'); */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
}




.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1320px !important;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
