@import "~react-image-gallery/styles/css/image-gallery.css";


/* Save icon css */
.save-icon-gallery {
    height: 48px;
    width: 48px;
    border-radius: 20%;
    background-color: #ffffff;
    position: absolute;
    top: 1%;
    left: 90%;
    cursor: pointer;
}

/* Gallery image size */
.image-gallery-slide{
    max-height: 500px;
}

/* Gallery thumbnails */
.image-gallery-thumbnail{
    border: none;
    margin-right: 10px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner{
    border-radius: 4px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image{
    border-radius: 4px;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
    border: none;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner{
    background: rgba(0, 0, 0);
}

.image-gallery-thumbnail .image-gallery-thumbnail-image{
    opacity: 0.47;
    max-height: 65px;
    object-fit: contain;
}

.image-gallery-thumbnail.active .image-gallery-thumbnail-image{
    opacity: 1;
}

.image-gallery-slide .image-gallery-image{
    object-fit: cover;
}

/* Gallery navs */

.image-gallery-icon{
    filter: none;
}

.image-gallery-left-nav{
    left: -30px;
}

.image-gallery-right-nav{
    right: -30px;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    width: 56px;
    height: 56px;
    color: #000;
    border-radius: 13px;
}

.image-gallery-icon:focus{
    outline: none;
}

/* Gallery description */
.image-gallery-slide .image-gallery-description{
    width: 100%;
    bottom: 0px;
    text-align: justify;
    background: rgba(54, 54, 54, 0.6);
    padding: 15px 20px;

}
.save-gallery-icon {
position: absolute;
top: 33%;
left: 28%;
cursor: pointer;
}

/* Thumbnail images css */
.image-gallery-thumbnail .image-gallery-thumbnail-image :focus{
    border-color: transparent !important;
}


