/* Product Details css starts here */
.product-detail-body {
    background-color: white !important;
}

.product-detail-cardbody {
    padding: 2.25rem;
}
.back-button-product {
    cursor: pointer;
    margin-left: -20px;
    background-color: #ffffff !important;
    color: #1C67CE !important;
    border: 1px solid #1C67CE !important;
    text-decoration: none !important;
    border-color: transparent !important;
    font-weight: 500;
    font-size: 15px;
}

.report-button {
    cursor: pointer !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.25) !important;
}
/* End */