.report-button {
    cursor: pointer !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.25) !important;
}

.back-button-product {
    cursor: pointer;
    margin-left: -20px;
}




.product-detail {
    background-color: #ffffff;
}

