.view-all-cars-stats-button {
    cursor: pointer;
    background-color: #ffffff !important;
    color: #1C67CE !important;
    border: 1px solid #1C67CE !important;
    text-decoration: none !important;
    border-color: transparent !important;
    font-weight: 500;
    font-size: 15px;
    margin-left: -20px;
}
.view-all-cars-stats-button:focus , .view-all-cars-stats-button:active{
    box-shadow: none !important;
}

.by-label {
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.45);
}

.year-dropdown {
    border: 1px solid #E7E7E7 !important;
   
    width: 85px;
}

.table thead th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
}

.table thead tr {
    border-top: none !important;
}

.table-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    color: #222222;

}

.table-year-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    align-items: center;
    color: #1C67CE;
}

.table-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.table-col-heading {
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    color: rgba(0, 0, 0, 0.45);
}